.styling {
  background-color: #219ebc !important;
  font-weight: 800;
  color: white;
  padding: 1rem !important;
  text-transform: uppercase;
  max-width: 100%;
  overflow-x: hidden;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #fb8500 !important;
  border: #023047 !important;
}

.navbar-toggler-icon {
  background-image: url("../icons/hamburger.png") !important;
}

.navbar-brand {
  background-image: url("../icons/Logo.png") !important;
}

.navbar-toggler {
  border: white solid 1px !important;
}
